<div *beForLoggedInUser="let user dupa 1; let userid = id">
{{user}} {{userid}}
 <!-- <ng-template ngFor let-item [ngForOf]="products">
    <div >{{ item.title }} {{item.price}}</div>
 </ng-template> -->
 <button (click)="handleClick()">Click</button>
 <ng-container *ngIf="products$ | async as products; else loader" >
   <div *ngFor="let item of products;let i = index;" beTest beTestBgColor="blue" beHighlight="my-highlight"
   [ngClass]="{alert: item.price > 10}">({{i}}) {{ item.name }} {{item.price | test:1.23}}
   <be-product-item></be-product-item>
</div>
 </ng-container>



</div>
<ng-template #loader>
   <div>Loading...</div>
</ng-template>
