<nav>
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
    <a routerLink="/contact" routerLinkActive="active">Contact</a>
    <a routerLink="/lazy" routerLinkActive="active">Lazy</a>
    <a routerLink="/products" routerLinkActive="active">Products</a>
    <a routerLink="/about" routerLinkActive="active">About</a>
    <button (click)="handleLogout()" *ngIf="isLoggedIn$ | async; else loginButton ">Logout</button>
    <ng-template #loginButton>
            <button (click)="handleLogin()">Login</button>
    </ng-template>
    
    
    
</nav>
