<nav>
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
    <a routerLink="/contact" routerLinkActive="active">Contact</a>
    <a routerLink="/lazy" routerLinkActive="active">Lazy</a>
    <a routerLink="/products" routerLinkActive="active">Products</a>
    <a routerLink="/about" routerLinkActive="active">About</a>
    <button (click)="handleLogout()" *beForLoggedInUser>Logout</button>
    <button (click)="handleLogin()" *ngIf="!(isLoggedIn$ | async);">Login</button>



</nav>
